* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 10%;
  /* margin-top: 20px; */
  color: rgb(245, 148, 164);
  font-weight: bolder;
  font-size: larger;
  font-family: "Dancing Script", cursive;
}

.items {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 30px; */
  font-family: "Golos Text", sans-serif;
  font-size: medium;
}

.item {
  padding: 0 10px;
  border-bottom: 3px solid white;
  transition: border-bottom 0.3s ease-in;
}

.item:hover {
  border-bottom: 3px solid pink;
  cursor: pointer;
}

.intro {
  background-image: url("./anh2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.webDescription {
  /* background-color: antiquewhite; */
  height: fit-content;
  position: relative;
}

.welcome {
  padding-left: 90px;
  /* margin-top: 200px; */
  font-size: 30px;
  color: rgb(236, 99, 122);
}

.heading {
  padding-left: 90px;
  font-size: 85px;
  font-family: "Permanent Marker", cursive;
}

.introduct {
  padding-left: 90px;
  margin-top: 10px;
  color: grey;
  font-weight: bold;
  font-family: "IBM Plex Serif", serif;
}

.introduct2 {
  margin-top: 5px;
}

.button {
  position: absolute;
  color: white;
  background-color: black;
  margin-top: 20px;
  font-size: small;
  border-width: 15px;
  border-radius: 4px;
  left: 50%;
}
